.liquid-transition .slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    /* Contrast color for the wipe */
    z-index: 999;
    pointer-events: none;
}